<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- 
  Putting square brackets around the hero property, to the left of the equal sign (=), makes it the target of a property binding expression.
  You must declare a target binding property to be an input property. Otherwise, Angular rejects the binding and throws an error.
  selectedHero is from app.component.ts
  [hero] is from hero-detail.component.ts
-->
<hero-detail [hero]="selectedHero">
</hero-detail>